.Topbar{
    width: 100%;
}

.NavBar{
    width: 100%;
    height: 65px;
    padding: 1em 4.875em;
    background-color: #fff;
    box-shadow: 0 1px 1px #ccc;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 90;
}

.NavLeftContent{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

.LogoLink{
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.LogoLink > img{
    width: 200px;
    height: 40px;
    vertical-align: middle;
    border-style: none;
}

.NavItem{
    margin: 0 24px;
    cursor: pointer;
}

.NavItem > p{
    color: black;
    font-size: 16px;
    font-weight: 50;
    font-family: 'Open Sans', sans-serif;
}

.NavRightContent{
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

.BellItem > i{
    font-size: 22px;
    float: left;
    color: black;
    padding: 16px;
    cursor: pointer;
}

.Number{
    background-color: #DC3545;
    width: 15px;
    height: 18px;
    padding: 1px;
    border-radius: 5px;
    position: relative;
    left: 27.5px;
    top: 7px;
}

.Badge{
    position: absolute;
    right: 4.5px;
    bottom: 1.5px;
    font-size: 13px;
    font-weight: 600;
    color: white;
}

.LastItem{
    position: relative;
    padding: 0 12px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    cursor: pointer;
}

.LastItem > p{
    padding: 0.5rem 1rem;
    font-size: 16px;
    color:black;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}

.Dropdown{
    margin-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 0px;
    border-color: rgb(0, 0, 0);
    position: absolute;
    will-change: transform;
    top: 14px;
    right: 55px;
    transform: translate3d(12px, 40px, 0px);
    /* float: left; */
    min-width: 10rem;
    /* padding: .5rem 0; */
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    /* background-clip: padding-box; */
    border: 1px solid rgba(0,0,0,.65);
    border-radius: .25rem;
    cursor: pointer;
}

.Border{
    height: 0;
    margin: 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}

.Upper{
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    margin-top: 5px;
    margin-bottom: 8px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.Upper:hover{
    background-color: #F2F6FF;
}

.DropdownNone{
    display: none;
}